<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CalcApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CalcApp.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalculateWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalculateWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalculateWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalculateWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlotWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlotWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlotWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncPlotWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GLGraphWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GLGraphWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GLGraphWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GLGraphWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpreadSheetWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpreadSheetWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpreadSheetWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpreadSheetWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TableGraphWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TableGraphWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TableGraphWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TableGraphWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelpWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelpWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelpWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelpWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PdfViewWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PdfViewWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PdfViewWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PdfViewWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConvFileSelectWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConvFileSelectHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConvFileSelectTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConvFileSelectLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalcExpressInputWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalcExpressInputHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalcExpressInputTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalcExpressInputLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuncEditboxFontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </CalcApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>